<h1>Novo Cardapio</h1>
<form>
  <div class="form-group">
    <label for="cardapio">Cardapio</label>
    <select id="cardapio" class="form-control" (change)="onCardapioChange()" [(ngModel)]="restaurante.cardapio" name="cardapio"> <!--DropdownList, the change event, é para atualiazar a dropdown-->
      <option value=""></option>
      <option *ngFor="let m of cardapios" value="{{m.CardapioId}}">{{m.nome}}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="item">Item</label>
    <select id="item" class="form-control">
      <option value=""></option>
      <option *ngFor="let i of itens" value="{{i.ItemId}}">{{i.nome}}</option>
    </select>
  </div> 
</form>
