<h2>Cardapios</h2>
<p  *ngIf="auth.isInRole('Admin')">
  <a [routerLink]="['/cardapios/novo/', idFornecedor]" class="btn btn-primary">Adicionar Cardapio</a>
</p>
<table class="table">
  <ng-container *ngFor="let c of cardapios">
    <tr>
      <td>
        <h3>{{ c.nome }}</h3>
        <p  *ngIf="auth.isInRole('Admin')">
          <a [routerLink]="['/itens/novo/', c.cardapioId, idFornecedor]" class="btn btn-primary">Adicionar Item</a>
        </p>
      </td>
    </tr>
    <tr *ngFor="let i of c.itens">
      <td>{{ i.nome }}</td>
      <td>{{ i.preco }}</td>
      <td>{{ i.descricao }}</td>
      <td>{{ i.itemId }}</td>
      <td  *ngIf="auth.isInRole('Admin')">
        <a [routerLink]="['/itens/edit/', i.itemId, c.fornecedorId]">Editar</a>
      </td>
    </tr>
  </ng-container>
  <!-- <app-item-form [idForn]="idFornecedor"></app-item-form> -->
</table>