<h2>Fornecedores</h2>
<p>
  <a [routerLink]="['/fornecedores/novo']" class="btn btn-primary">Novo Fornecedor</a>
</p>
<!--Montando a tabela-->
<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th></th>
    </tr>
  </thead>  
  <tbody>
    <tr *ngFor="let f of queryResult.items">
      <td>{{ f.fornecedorId }}</td>
      <td>{{ f.nome }}</td>
      <td>
        <a [routerLink]="['/cardapios/', f.fornecedorId]">Cardapio</a>
      </td>
    </tr>
  </tbody>
</table>
<!--Paging-->
<pagination [total-items]="queryResult.totalItems" [page-size]="query.pageSize" (page-changed)="onPageChange($event)"></pagination>
